<div class="cart">
  <div class="container">
    <div class="header">
      <h2>Cart</h2>
      <button class="btn btn-outline-dark btn-sm smallBtn" (click)="onClearCart()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>

    <div class="row justify-content-md-left alignRow">
      <div class="col-md-auto" style="--bs-body-line-height: 30px">Filter by:</div>
      <div class="col-md-auto">
        <select class="form-select" [(ngModel)]="selectedFilter">
          <option value="name">Name</option>
          <option value="price">Price</option>
          <option value="quantity">Quantity</option>
        </select>
      </div>

      <div class="col-md-auto">
        <button (click)="turnDetUp()" class="btn btn-outline-dark smallBtn"
          style="--bs-btn-border-color: none; --bs-btn-padding-x: 0.55rem; --bs-btn-padding-y: 0.175rem;">
          <fa-icon [icon]="faUp"></fa-icon>
        </button>
        <button (click)="turnDetDown()" class="btn btn-outline-dark smallBtn"
          style="--bs-btn-border-color: none; --bs-btn-padding-x: 0.55rem; --bs-btn-padding-y: 0.175rem;">
          <fa-icon [icon]="faDown"></fa-icon>
        </button>
      </div>

    </div>

    <app-cart-item appHighlight
                   [item]="item"
                   (deleteItem)="onDeleteItem($event)"
                   (quantityDecrease)="onQuantityDecrease($event)"
                   (quantityIncrease)="onQuantityIncrease($event)"
                   *ngFor="let item of items | async">
    </app-cart-item>
    <div class="total">
      <div class="text noShrink">Total</div>
      <div class="quantity">{{totalQuantity}}</div>
      <div class="cost">{{totalCost | currency:'USD':'symbol':'4.0'}}</div>
    </div>
    <div class="navigation mt-3">
      <button class="btn btn-light backBtn" routerLink="/products-list">
        <fa-icon [icon]="faBack"></fa-icon>
        <b> Go back</b>
      </button>
      <button class="btn btn-success" (click)="checkCart()" routerLink="/order">
        <b> Checkout </b>
        <fa-icon [icon]="faCheckout"></fa-icon>
      </button>
    </div>
  </div>
</div>
<ng-container #modal></ng-container>
